#wrapper {
	height: 700px;
	width: 400px;
	position: relative;
	margin: 20px auto;
	overflow: hidden;
	border: 1px solid black;
}

#player {
	height: 50px;
	width: 50px;
	background-color: black;
	position: absolute;


}

-webkit-animation:bounce 0.5s infinite;


@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}



#platform1 {
	height: 15px;
	width:100px;
	background-color: blue;
	position: absolute;
	bottom:50px;
	left:50px;
}

#platform2 {
    height: 15px;
	width:100px;
	background-color: blue;
	position: absolute;
	bottom: 200px;
	left: 190px;
}

#platform3 {
    height: 15px;
	width:100px;
	background-color: blue;
	position: absolute;
	bottom: 300px;
	left: 75px;
}

#platform4 {
  height: 15px;
  width:100px;
  background-color: blue;
  position: absolute;
  bottom:400px;
  left:195px;
}

#platform5 {
    height: 15px;
	width:100px;
	background-color: blue;
	position: absolute;
	bottom:450px;
    left:70px;
}

#platform6 {
	height: 15px;
	width:100px;
	background-color: blue;
	position: absolute;
	bottom:550px;
    left:125px;
}